<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title class="title-text">Modificar Libros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" color="light">
  <ion-header collapse="condense">
    <ion-toolbar color="dark">
      <ion-title size="large">Formulario de Modificación de Libros</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1>Formulario de Actualización de Libros</h1>
    <form (ngSubmit)="updateBook()" class="book-form">

      <ion-item>
        <ion-label position="floating">Título:</ion-label>
        <ion-input [(ngModel)]="book.title" name="title" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Autor:</ion-label>
        <ion-input [(ngModel)]="book.author" name="author" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">ISBN:</ion-label>
        <ion-input [(ngModel)]="book.isbn" name="isbn" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Género:</ion-label>
        <ion-input [(ngModel)]="book.genre" name="genre" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Año de publicación:</ion-label>
        <ion-input [(ngModel)]="book.publicationYear" name="publicationYear" type="number" required></ion-input>
      </ion-item>

      <ion-button color="tertiary" type="submit">Actualizar</ion-button>
    </form>

    <ion-button color="medium" (click)="goHomeButton()">
      Volver a Inicio
    </ion-button>

  </div>
</ion-content>