<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1>Inicio</h1>
    <p>Title: {{title}}</p>
    <p>Author: {{author}}</p>
    <p>ISBN: {{isbn}}</p>
    <p>Genre: {{genre}}</p>
    <p>Publication Year: {{publicationYear}}</p>
    <ion-button expand="block" (click)="showLibrary()">Show Library</ion-button>
  </div>
  
</ion-content>
