// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    --ion-color-primary: #6b4f4f; /* Un marrón cálido */
    --ion-color-secondary: #d2b48c; /* Color arena */
    --ion-color-tertiary: #8fbc8f; /* Verde suave */
    --ion-color-dark: #3e2723; /* Marrón oscuro */
    --ion-color-medium: #a5a4a4; /* Gris suave */
    --ion-color-light: #f5f5f5; /* Fondo claro */
  }
  